<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px solid gray" id="showInfo" style="display: none;">

</table>
<form  enctype="multipart/form-data" method="post" id="batchAdd" name="batchAdd" target="result">
    <input id="excel_file" type="file" name="excelFile" size="50"/>
    <input id="submitInfo" type="button" value="提交">
</form>
<a href="/insertExcel">保存</a>
<a id="dianji" href="#">sql判断</a>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    var listVIP = "";

    $("#submitInfo").on("click",function () {
        if($("#excel_file").val()!=null && $("#excel_file").val()!="") {
            $.ajax({
                        url: "/readExcel",
                        type: "post",
                        data: new FormData($("#batchAdd")[0]),
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        success: function (data) {
                            listVIP=data;
                            var tableInfo=$("#showInfo");
                            $("#batchAdd").hide();
                            var str="";
                            str+="<tr>";
                            str+="<td>卡号</td>";
                            str+="<td>充值时间</td>";
                            str+="<td>充值类型</td>";
                            str+="<td>充值方式</td>";
                            str+="<td>充值金额</td>";
                            str+="<td>充值后余额</td>";
                            str+="</tr>";
                            for (var i = 0; i < data.length ; i++) {
                                str+="<tr>";
                                str+="<td>"+data[i].cardNumber+"</td>";
                                str+="<td>"+data[i].rechargeTime+"</td>";
                                str+="<td>"+data[i].rechargeType+"</td>";
                                str+="<td>"+data[i].rechargeTheWay+"</td>";
                                str+="<td>"+data[i].rechargeMoney+"</td>";
                                str+="<td>"+data[i].rechargeBalabce+"</td>";
                                str+="</tr>";
                            }
                            tableInfo.append(str);
                            tableInfo.show();
                }

            });
        }
    });

    $("#dianji").on("click",function () {
        if(listVIP != null) {
            $.ajax({
                url: "/insertExcel",
                type: "post",
                data: JSON.stringify(listVIP),
                contentType: "application/json",
                dataType: "json",
                success:function (data) {
                    if (data > 0){
                        alert("数据保存成功！");
                    }else{
                        alert("数据保存失败！")
                    }

                },
                error:function (data) {
                    alert("错了");
                }
            });
        }
    });


</script>
</body>
